<h1>テーマ一覧</h1>
<ul>
	<% @themes.each do |theme| %>
		<li>
			<%= link_to theme.title, themes_show_path(theme.id) %>
			<%= link_to '[削除]', theme_delete_path(theme.id), method: :delete, data: {confirm: "削除しても大丈夫ですか？"} %>
		</li>
	<% end %>
</ul>

<h1>テーマ新規作成</h1>
<%= form_for @newTheme, :url => {:action => 'create'} do |f| %>
	<p>
		<%= f.label :title, 'テーマ名' %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :category, 'カテゴリ' %>
    	<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
      		<%= category.label do %>
        		<%= category.check_box %>
        		<%= category.text %>
      		<% end %>
    	<% end %>
	</p>

	<%= f.submit '作成' %>
<% end %>
