<h1>テーマ一覧</h1>
<ul>
	<% @themes.each do |theme| %>
		<li>
			<%= link_to theme.title, themes_show_path(theme.id) %>
			<%= link_to '[削除]', theme_delete_path(theme.id), method: :delete, data: {confirm: "削除しても大丈夫ですか？"} %>
		</li>
	<% end %>
</ul>

<h1>テーマ新規作成</h1>
<%= form_for @newTheme, :url => {:action => 'create'} do |f| %>
	<%= f.text_field :title %>
	<%= f.submit %>
<% end %>
