<!DOCTYPE html>
<html>
  <head>
    <title>WebboardApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-default navbar-inverse">
     <div class="nav navbar-nav navbar-right">
     <!--if文でサインインとアウト時の表示を変更-->
      <% if user_signed_in? %>
        <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
      <% end %>
     </div>
    </header>

    <%= yield %>
  </body>
</html>
